<div class="container border">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>Post Pic</h1>
      </div>
      <div>
        <%= render 'form' %>
      </div>
      <br>
  </div>
</div>